/*
4287f5*/

:root{
	--blue: #007bff;
	--secondaryBlue: #0056b3;
	--mutedBlue: #bcc9d6;
	--white: #fff;
}

.footerContainer{
	background-color: var(--secondaryBlue);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 3rem;
	text-align: center;
	color: var(--white);
	opacity: 50%;
}

.footerContainer:hover{
	opacity: 1;
}



@media (max-width:18rem) {
  img#optionalstuff {
    display: none;
  }
}


.flex-row1{
	color: var(--white);
	margin-left: 7rem;
	margin-right: 7rem;
	justify-content: center;
}


.flex-row-holder{						
	position: relative;
	top: 10rem;
	margin-bottom: 5rem;
}




.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: var(--white);
	background-color: var(--secondaryBlue);
}

.nav-link{
	color: var(--white);
}

.nav-link:hover{
  color: var(--secondaryBlue);
  background-color: var(--white);
}

body{
	background-color: var(--blue);
	/*display: flex;*/
	justify-content: center;
	height: 100%;
}

.animation1{
	animation: fadeIn ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.card{
	background-color: var(--secondaryBlue);
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	max-width: 700px;
	color: var(--white);
}

.card-subtitle{
	color: var(--mutedBlue);
}